*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #0f2d4d;
}



header{
    height: 60vw; 
    background-image: url('../images/lldm_seattle_banner.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 8px solid #c9ae54;
}

h1, header h2{
    font-family: "Poppins";
    color: white;
    text-shadow: 2px 2px rgb(90, 90, 90);
}

main{
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main div{
    background-color: white;
    border: 8px solid #c9ae54;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    text-align: center;
    margin-bottom: 20px;
}
.text{
    margin: 10px;
    max-width: 500px;
}
div div{
    border:0;
    padding:0;
    margin:0;
}

div h2, h3{
    font-family: "Poppins";
}
.who img{
    align-self: center;
    width: 70vw;
    max-width: 400px;
}

div p{
    margin: 8px 2px;
   font-family: "Raleway";
}